
.distill-site-nav {
  background-color: #F5CBA7;
  color: black;
}

h1 {
  color: #AF601A;
}

p {
  font-size: 18;
  font-family: 'georgia';
}

img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}
